body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(7, 123, 168);
}

h1{
    font: 600 24px sans-serif;
    color: #fff;
    display: grid;
    place-items: center;
    padding-top: 80px;
}

.input-box {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    margin-top: 20px;
    color: #fff;
    font-family: sans-serif;
}

input{
    height: 40px;
    width: 200px;
    border-radius: 8px;
    outline: none;
    border: none;
}

input[type="button"]{
    margin-top: 20px;
    background: lime;
    box-shadow: 2px 2px 0 0 darkgreen;
    font-weight: 800;
    transition: box-shadow .3s;
}

input[type="button"]:hover{
    box-shadow: -2px -2px 0 0 darkgreen;
}

#result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#result p{
    font-weight: bold;
}